@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Londrina+Outline&family=Roboto&display=swap');


* {
    box-sizing: border-box;
}

header{
    margin-bottom: 20px;
}

main{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 40px;
    width: 80%;
}



.switch-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Londrina Outline', cursive;
    font-size: 86px;
    margin-top: 0px;
    margin-bottom: 10px;
}

body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: rgb(178,188,194);
    background: radial-gradient(circle, rgba(178,188,194,1) 0%, rgba(196,219,232,1) 79%);
}

.container-div{
    position: relative;
    display: grid;
    place-items: center;
    margin-top: 25px;
    width: 500px;
    margin: 0 auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0px 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(255, 204, 204);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(255, 204, 204);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.grid-container-3x3{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    font-size: 100px;
    background-color: white;
    border-radius: 26px;
    box-shadow: 10px 10px 12px #e5e5e5;
    font-weight: 900;
}

.grid-container-4x4{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: 900;
    grid-template-rows: repeat(4, minmax(150px, 1fr));
    font-size: 100px;
    background-color: white;
    border-radius: 26px;
    box-shadow: 10px 10px 12px #e5e5e5;
}

.hidden{
    display: none;
}

.cell-div{
    border: 3px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Londrina Outline', cursive;
    /* font-weight: 800; */
}

/* span.bubble-font{
    font-family: 'Londrina Outline', cursive;
    font-weight: 800; 
} */

.game-over-div{
    height: 300px;
    width: 500px;
    border: 10px solid #d9d0bb;
    background-color: rgba(255, 204, 204, 0.90);
    position: absolute;
    display: none;
    place-items: center;
    font-size: 37px;
    font-weight: 900;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    color: white;
    box-shadow: 1px 0px 12px 9px #e5e5e5;
}

.new-game-btn{
    background-color: #d9d0bb;
    padding: 7px 28px;
    border-radius: 13px;
    text-transform: uppercase;
    margin-top: 23px;
    border: 3px solid white;
    box-shadow: -1px 0px 12px 3px white;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
}

aside{
    font-size: 12px;
    margin: 40px 0;
}

.game-details-div{
    margin: 30px 0;
}

.reset-btn{
    background-color: #d9d0bb;
    padding: 7px 28px;
    border-radius: 13px;
    text-transform: uppercase;
    border: 3px solid white;
    box-shadow: -1px 0px 12px 3px white;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
}
